@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
h1,
h2,
h3,
h4,
h5,
h6,
ul,
dl,
dt,
dd,
p {
  margin: 0;
  padding: 0;
  color: #4D4D4D;
}

body,
button {
  box-sizing: border-box;
  margin: 0;
  font-family: "Inconsolata", "Helvetica", "Arial", "ar-udjingxiheib5", "思源黑體", "微軟正黑體", sans-serif !important;
  font-weight: 500;
  color: #4D4D4D;
  background-color: #EBE6E2;
}

input[type=text],
input[type=email],
input[type=number],
input[type=tel],
input[type=password],
select {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

input[type=radio] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: #4D4D4D;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type=radio]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: CanvasText;
}

input[type=radio]:checked::before {
  transform: scale(1);
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #4D4D4D;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex-space-between {
  justify-content: space-between;
}

.container {
  margin: auto;
  width: auto;
  max-width: 1140px;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 8px;
}

.img-circle {
  border-radius: 100%;
}

.img-wrap {
  display: block;
  position: relative;
  margin-bottom: 8px;
}

.img-overlay {
  overflow: hidden;
  border-radius: 8px;
}

.img-overlay img {
  vertical-align: top;
  transition: all 0.5s;
}

.img-overlay img:hover {
  transform: scale(1.5);
}

.w-100 {
  width: 100%;
}

.w-70 {
  width: 70%;
}

.w-30 {
  width: 30%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.btn-primary {
  background-color: #4D4D4D;
  border-radius: 5px;
}

.line-btn-sm {
  display: inline;
  border: 1px solid #4D4D4D;
  padding: 5px 10px;
  font-size: 1em;
}

.line-btn-sm:hover {
  border: 1px solid #fff;
  background-color: #4D4D4D;
  color: white;
}

.line-btn-lg {
  display: inline;
  border: 1px solid #4D4D4D;
  padding: 2% 15%;
  font-size: 1.2em;
}

.line-btn-lg:hover {
  border: 1px solid #fff;
  background-color: #4D4D4D;
  color: white;
}

.light-line {
  padding: 0;
  border: none;
}

.light-line:hover {
  color: #4D4D4D;
  background: transparent;
  box-shadow: none;
}

.light-line:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 1px;
  width: 0;
  background: #fff;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #fff, 4px 4px 5px 0px #fff;
  transition: 400ms ease all;
}

.light-line:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.light-line:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

header {
  position: relative;
  height: 110px;
}

header > .container > .nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 15px;
}

header > .container > a > img {
  width: 150px;
}

header > .container > nav > ul#pc-nav {
  padding-top: 50px;
  justify-content: space-around;
}

header > .container > nav > ul#pc-nav > li:last-child {
  min-width: 200px;
}

header #pc-nav li {
  line-height: 50px;
}

header > .container > nav > ul#pc-nav img {
  width: 30px;
  margin-right: 20px;
}

.loading-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  /* left:-50vw */
  transition: 0.3s all;
}

.loading-overlay.active {
  top: -100vh;
}

.loader {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: relative;
}

.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #FFF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
.mobile-nav {
  display: none;
}

#burger-menu {
  display: none;
  position: absolute;
  width: 100%;
  min-height: 30px;
  top: 100px;
  background-color: #EBE6E2;
  z-index: 999;
  box-shadow: 0px 0px 9px #fff;
  justify-content: flex-end;
}

#burger-submenu {
  display: none;
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
  background-color: #EBE6E2;
  z-index: 999;
  box-shadow: 0px 0px 9px #fff;
  padding: 20px 0;
}

#burger-submenu.active {
  display: block;
}

#burger-submenu dl {
  text-align: center;
}

#burger-submenu dl > dt {
  font-weight: bold;
  margin-bottom: 10px;
}

#burger-submenu dl > dd {
  position: relative;
  border-bottom: 1px solid #4D4D4D;
}

#burger-submenu dl > dd:hover {
  border: #EBE6E2;
}

#burger-submenu dl > dd > a {
  display: block;
  padding: 15px;
}

#burger-submenu .trend > p {
  margin-bottom: 10px;
}

#burger-submenu .trend .row:first-of-type {
  margin-bottom: 20px;
}

#submenu {
  display: none;
  position: absolute;
  width: 50%;
  max-width: 700px;
  background-color: #EBE6E2;
  z-index: 999;
  box-shadow: 0px 0px 9px #fff;
}

#submenu.active {
  display: block;
}

#submenu dl > dt {
  font-weight: bold;
}

#submenu dl > dd {
  border-bottom: 1px solid #4D4D4D;
}

.trend {
  position: relative;
  height: 100%;
}

.trend > p {
  font-weight: bold;
}

.keyword {
  line-height: 40px;
  margin-right: 2px;
  padding: 0px 10px;
}

.keyword:hover {
  box-shadow: 0px 0px 10px #fff;
}

.trend > .search-box {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.trend > .search-box input {
  width: 80%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

todo .trend > .search-box > input:focus {
  border: 1px solid #BBBBBB;
}

.trend > .search-box > button {
  width: 80%;
  background-color: #EBE6E2;
  border: 1px solid #4D4D4D;
  font-size: 18px;
  line-height: 30px;
  box-sizing: border-box;
}

.trend > .search-box > button:hover {
  border: 1px solid #fff;
  background-color: #4D4D4D;
  color: white;
}

@media (max-width: 767px) {
  header {
    height: 100px;
  }

  header > .container > .nav-logo {
    position: absolute;
    left: 2%;
    transform: translateX(0%);
    margin-top: 15px;
  }

  header > .container > nav #pc-nav {
    display: none;
  }

  header > .container > nav .mobile-nav.row {
    display: flex;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
  }

  header > .container > nav .mobile-nav div {
    margin: 0px 10px;
  }

  header > .container > nav .mobile-nav img {
    width: 35px;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: #4D4D4D;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .hamburger.active {
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .hamburger.active .line:nth-child(2) {
    width: 0px;
  }

  .hamburger.active .line:nth-child(1),
.hamburger.active .line:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .hamburger.active .line:nth-child(1) {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }

  .hamburger.active .line:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(90deg);
    -ms-transform: translateY(-12px) rotate(90deg);
    -o-transform: translateY(-12px) rotate(90deg);
    transform: translateY(-12px) rotate(90deg);
  }

  #burger-menu.active {
    display: flex;
  }

  #burger-menu li {
    margin: 5%;
  }

  #burger-menu img {
    width: 35px;
  }
}
@media (min-width: 768px) {
  header > .container > nav img {
    margin-right: 5%;
  }

  header > .container > nav > ul > li:nth-child(2) {
    margin-right: 35%;
  }
}
@media (min-width: 1200px) {
  header > .container > nav > ul > li:nth-child(2) {
    margin-right: 35%;
  }

  header > .container > nav > ul > li:last-child {
    min-width: 300px;
  }

  #submenu {
    width: 50%;
    max-width: 700px;
  }
}
.brands.row {
  width: 40%;
  min-width: 400px;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 50px auto;
}

.brand {
  width: 100px;
  height: 100px;
  border: 3px solid #4D4D4D;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 10px;
  text-align: center;
  background-image: url("../images/brand-bg.png");
  background-repeat: no-repeat round;
}

.brand > a {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 40%;
}

.banner {
  position: relative;
  max-height: 600px;
  overflow: hidden;
}

.banner:hover .go-previous {
  display: block;
}

.banner:hover .go-next {
  display: block;
}

.banner > a {
  display: block;
}

.thumbnails {
  justify-content: center;
}

.thumbnails > .img-box {
  width: 15%;
  max-width: 200px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
}

.thumbnails > .img-box.active {
  box-shadow: 0px 8px 10px #fff;
}

.thumbnails > .img-box > img {
  width: 100%;
}

.go-previous {
  display: none;
  position: absolute;
  width: 5%;
  max-width: 50px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  left: 0;
}

.go-next {
  display: none;
  position: absolute;
  width: 5%;
  max-width: 50px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  right: 0;
}

.main-title > h2 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.main-intro,
.shop-intro {
  line-height: 26px;
  font-size: 18px;
  width: 70%;
  margin: 50px auto;
  letter-spacing: 2px;
}

.shop-intro {
  text-align: center;
}

.product {
  margin-top: 20px;
  margin-bottom: 20px;
}

.product .img-box {
  position: relative;
}
.product .img-box:hover .cover {
  opacity: 1;
}
.product .img-box:hover .cover:before {
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
}

.product .img-box img {
  border-radius: 10px;
  width: 100%;
}

.product .img-box .cover {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
  text-align: center;
}
.product .img-box .cover:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  border: 3px solid white;
  border-radius: 10px;
  transition: all 0.3s ease-out;
}
.product .img-box .cover .more {
  display: block;
  border: 1px white solid;
  width: 100px;
  line-height: 50px;
  color: white;
  margin: auto;
  margin-top: 60px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.special-price {
  color: #e75b10;
  font-weight: bold;
  margin-right: 10px;
}

.original-price.line-through {
  color: #777777;
  text-decoration: line-through;
}

.cover-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heart {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #EBE6E2;
  transform: rotate(45deg);
  top: 50%;
  left: 47%;
  cursor: pointer;
}
.heart:before {
  content: "";
  position: absolute;
  top: -10px;
  right: 0px;
  width: 20px;
  height: 20px;
  background: #EBE6E2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.heart:after {
  content: "";
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  background: #EBE6E2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@keyframes heart-beat {
  0% {
    transform: rotate(45deg) scale(1);
  }
  20% {
    transform: rotate(45deg) scale(0.8);
  }
  40% {
    transform: rotate(45deg) scale(1.2);
  }
  60% {
    transform: rotate(45deg) scale 1;
  }
  80% {
    transform: rotate(45deg) scale(1.3);
  }
  100% {
    transform: rotate(45deg) scale(1);
  }
}
.heart.play-heart-animate {
  animation: heart-beat 1s linear;
}

.heart.selected {
  background-color: #D8C16F;
}
.heart.selected:before {
  background-color: #D8C16F;
}
.heart.selected:after {
  background-color: #D8C16F;
}

.page-numbers.row {
  width: 100%;
  margin-bottom: 50px;
  justify-content: center;
}

.page-numbers a {
  display: block;
  line-height: 30px;
  padding: 0 20px;
}

.previous-page-btn {
  font-size: 2em;
  margin-right: 10%;
}

.next-page-btn {
  font-size: 2em;
  margin-left: 10%;
}

.view-all-btn {
  width: 100%;
  position: relative;
  margin-bottom: 100px;
}

.view-all-btn > .line-btn-lg {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 768px) {
  .heart {
    width: 20px;
    height: 20px;
    top: 50%;
    left: 47%;
  }
  .heart:before {
    top: -11px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .heart:after {
    left: -11px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
@media (min-width: 1200px) {
  header > .container > nav img {
    margin-right: 10%;
  }

  header > .container > nav > ul > li:nth-child(2) {
    margin-right: 45%;
  }

  .heart {
    width: 20px;
    height: 20px;
    top: 50%;
    left: 46%;
  }
  .heart:before {
    top: -11px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .heart:after {
    left: -11px;
    width: 20px;
    height: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
}
footer {
  border-top: 1px solid gray;
  padding-top: 20px;
  box-sizing: border-box;
}

footer dl {
  text-align: center;
  min-width: 20vw;
  color: #4D4D4D;
}

footer dl:last-of-type {
  margin-right: 150px;
}

footer dt {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 3px;
}

footer i.fa-solid {
  display: none;
}

footer dd {
  letter-spacing: 2px;
  margin-bottom: 10px;
}

footer dd.active {
  display: block;
}

footer .footer-icon > a > img {
  width: 30px;
  margin-left: 10px;
}

footer .footer-icon > a:last-child > img {
  width: 80px;
}

/* 版權聲明 */
footer .copyright {
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  footer {
    min-height: 300px;
  }

  footer > .container > .row > div {
    margin: 0;
  }

  footer dl {
    text-align: center;
    width: 100%;
    color: #4D4D4D;
    letter-spacing: 1px;
  }

  footer dl:last-of-type {
    margin-right: 0px;
  }

  footer .row > div {
    width: 100%;
  }

  footer dt i.fa-solid {
    display: inline;
  }

  footer dd {
    display: none;
  }

  footer .footer-icon {
    text-align: center;
    margin-bottom: 5%;
  }

  footer .footer-icon > a:last-child > img {
    width: 30px;
  }

  footer .copyright {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  footer > .container > .row dl:nth-of-type(3) {
    background-color: #000;
    margin-right: 100vw;
  }
}
@media (max-width: 767px) {
  .col-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 40px 15px;
  }
}
/* Sign in / Sing up */
#sign-In-Up {
  background: #EBE6E2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin: 0 auto;
}

#sign-In-Up h2 {
  text-align: center;
}

#sign-In-Up p {
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

#sign-In-Up a {
  color: #333;
  text-decoration: none;
  margin: 15px 0;
}

#sign-In-Up button {
  border-radius: 1px;
  border: 1px solid #4D4D4D;
  background-color: #4D4D4D;
  font-size: 1em;
  color: #FFFFFF;
  padding: 12px 45px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
}

#sign-In-Up button:active {
  transform: scale(0.95);
}

#sign-In-Up button:focus {
  outline: none;
}

#sign-In-Up button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

#sign-In-Up form {
  background-color: #EBE6E2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

#sign-In-Up {
  background-color: #EBE6E2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

#sign-In-Up .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

#sign-In-Up .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

#sign-In-Up.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

#sign-In-Up .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

#sign-In-Up.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}
#sign-In-Up .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

#sign-In-Up.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

#sign-In-Up .overlay {
  background: #4D4D4D;
  background: -webkit-linear-gradient(to right, #EBE6E2, #ccbfb8);
  background: linear-gradient(to right, #EBE6E2, #ccbfb8);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transition: transform 0.6s ease-in-out;
}

#sign-In-Up.right-panel-active .overlay {
  transform: translateX(50%);
}

#sign-In-Up .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

#sign-In-Up .overlay-left {
  transform: translateX(-20%);
}

#sign-In-Up.right-panel-active .overlay-left {
  transform: translateX(0);
}

#sign-In-Up .overlay-right {
  right: 0;
  transform: translateX(0);
}

#sign-In-Up.right-panel-active .overlay-right {
  transform: translateX(20%);
}

#sign-In-Up .social-container {
  margin: 20px 0;
}

#sign-In-Up .social-container a {
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

/* sign in/sign up end */
/* shopping cart */
.shopping-cart img {
  max-width: 100%;
}

.shopping-cart.cf:before,
.shopping-cart.cf:after {
  content: " ";
  display: table;
}

.shopping-cart.cf:after {
  clear: both;
}

.shopping-cart.cf {
  *zoom: 1;
}

.shopping-cart {
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 5em;
}

.shopping-cart .heading {
  padding: 1em 0;
}
.shopping-cart .heading h1 {
  font-size: 1.8em;
  float: left;
}
.shopping-cart .heading a.continue:link, .shopping-cart .heading a.continue:visited {
  text-decoration: none;
  padding: 1em;
  color: #4D4D4D;
  background: #EBE6E2;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.shopping-cart .heading a.continue:after {
  content: "❯";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.shopping-cart .heading a.continue:hover, .shopping-cart .heading a.continue:focus, .shopping-cart .heading a.continue:active {
  background: #4D4D4D;
  color: #fff;
}
.shopping-cart .heading a.continue:hover:after, .shopping-cart .heading a.continue:focus:after, .shopping-cart .heading a.continue:active:after {
  right: -10px;
}

.shopping-cart .tableHead {
  display: table;
  width: 100%;
  font-size: 1em;
}
.shopping-cart .tableHead li {
  display: table-cell;
  padding: 1em 0;
  text-align: center;
}
.shopping-cart .tableHead li.prodHeader {
  text-align: left;
}

.shopping-cart .cart {
  padding: 1em 0;
}
.shopping-cart .cart .items {
  display: block;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #ccbfb8;
}
.shopping-cart .cart .items .infoWrap {
  display: table;
  width: 100%;
}
.shopping-cart .cart .items .cartSection {
  display: table-cell;
  vertical-align: middle;
}
.shopping-cart .cart .items .cartSection .itemNumber {
  color: #BBBBBB;
  margin-bottom: 0.5em;
}
.shopping-cart .cart .items .cartSection h3 {
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
}
.shopping-cart .cart .items .cartSection p {
  display: inline-block;
  font-size: 0.85em;
  color: #4D4D4D;
}
.shopping-cart .cart .items .cartSection p .quantity {
  font-weight: bold;
  color: #4D4D4D;
}
.shopping-cart .cart .items .cartSection p.stockStatus {
  color: #82ca78;
  font-weight: bold;
  padding: 0.5em 0 0 1em;
  text-transform: uppercase;
}
.shopping-cart .cart .items .cartSection p.stockStatus.out {
  color: #ff825c;
}
.shopping-cart .cart .items .cartSection.qtyWrap, .shopping-cart .cart .items .cartSection.prodTotal {
  text-align: center;
}
.shopping-cart .cart .items .cartSection.qtyWrap p, .shopping-cart .cart .items .cartSection.prodTotal p {
  font-weight: bold;
  font-size: 1.25em;
}
.shopping-cart .cart .items .cartSection input.qty {
  width: 2em;
  text-align: center;
  font-size: 1em;
  padding: 0.25em;
  margin: 1em 0.5em 0 0;
}
.shopping-cart .cart .items .cartSection .itemImg {
  float: left;
  width: 8em;
  display: inline;
  padding-right: 1em;
}

.shopping-cart .special {
  display: block;
}
.shopping-cart .special .specialContent {
  padding: 1em 1em 0;
  display: block;
  margin-top: 0.5em;
}
.shopping-cart .special .specialContent:before {
  content: "↳";
  font-size: 1.5em;
  margin-right: 1em;
}

.shopping-cart a.remove {
  width: 20px;
  text-decoration: none;
  color: #777;
  font-weight: bold;
  padding: 10px;
  font-size: 2em;
  display: inline-block;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.shopping-cart a.remove:hover {
  color: #000;
}

.shopping-cart .promoCode {
  border: 2px solid #efefef;
  float: left;
  width: 35%;
  padding: 2%;
}
.shopping-cart .promoCode label {
  display: block;
  width: 100%;
  font-size: 1.15em;
  margin-bottom: 0.5em;
  letter-spacing: -0.025em;
}
.shopping-cart .promoCode input {
  width: 70%;
  font-size: 1em;
  padding: 0.5em;
  border: 1px solid #dadada;
}
.shopping-cart .promoCode input:active, .shopping-cart .promoCode input:focus {
  outline: 0;
}
.shopping-cart .promoCode a.btn {
  width: 15%;
  padding: 0;
  text-align: center;
  border: 1px solid #4D4D4D;
}
.shopping-cart .promoCode a.btn:hover {
  border: 1px solid #4D4D4D;
  background: #4D4D4D;
  color: #EBE6E2;
}

.shopping-cart .btn:link, .shopping-cart .btn:visited {
  text-decoration: none;
  letter-spacing: -0.015em;
  font-size: 1em;
  padding: 1em 3em;
  color: #4D4D4D;
  background: #EBE6E2;
  border: 1px solid #4D4D4D;
  font-weight: bold;
  float: right;
  text-align: right;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.shopping-cart .btn:after {
  content: "❯";
  padding: 0.5em;
  position: relative;
  right: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.shopping-cart .btn:hover, .shopping-cart .btn:focus, .shopping-cart .btn:active {
  background: #4D4D4D;
  color: #EBE6E2;
}
.shopping-cart .btn:hover:after, .shopping-cart .btn:focus:after, .shopping-cart .btn:active:after {
  right: -10px;
}
.promoCode .shopping-cart .btn {
  font-size: 0.85em;
  padding: 0.5em 2em;
}

/* Total and Checkout  */
.shopping-cart .subtotal {
  float: right;
  width: 35%;
}
.shopping-cart .subtotal .totalRow {
  padding: 0.5em;
  text-align: right;
}
.shopping-cart .subtotal .totalRow.final {
  font-size: 1.25em;
  font-weight: bold;
}
.shopping-cart .subtotal .totalRow span {
  display: inline-block;
  padding: 0 0 0 1em;
  text-align: right;
}
.shopping-cart .subtotal .totalRow .label {
  color: #4D4D4D;
}
.shopping-cart .subtotal .totalRow .value {
  letter-spacing: -0.025em;
  width: 35%;
}

.shopping-cart .promoCode input {
  margin: 0;
}

.shopping-cart .promoCode a.btn {
  padding-top: 5px;
}

@media only screen and (max-width: 39.375em) {
  .shopping-cart {
    width: 98%;
    padding: 2% 0;
  }

  .shopping-cart .projTitle {
    font-size: 1.5em;
    padding: 10% 5%;
  }

  .shopping-cart .heading {
    padding: 1em;
    font-size: 90%;
  }

  .shopping-cart .cart .items .cartSection {
    width: 90%;
    display: block;
    float: left;
  }
  .shopping-cart .cart .items .cartSection.qtyWrap {
    width: 10%;
    text-align: center;
    padding: 0.5em 0;
    float: right;
  }
  .shopping-cart .cart .items .cartSection.qtyWrap:before {
    content: "QTY";
    display: block;
    padding: 0.25em;
    font-size: 0.75em;
  }
  .shopping-cart .cart .items .cartSection.prodTotal, .shopping-cart .cart .items .cartSection.removeWrap {
    display: none;
  }
  .shopping-cart .cart .items .cartSection .itemImg {
    width: 25%;
  }

  .shopping-cart .promoCode,
.shopping-cart .subtotal {
    width: 100%;
  }

  .shopping-cart a.btn.continue {
    width: 100%;
    text-align: center;
  }
}
/* shopping cart end */
/* product-detail */
.main-title {
  margin-bottom: 60px;
}

.product-detail.container > .row {
  width: 90%;
  margin: 0 auto;
  justify-content: stretch;
  align-items: stretch;
}

.main-item-image {
  text-align: center;
}

.main-item-image img {
  width: 98%;
}

.item-image-thumbnails .item-image-frame {
  overflow: hidden;
  cursor: pointer;
  border: 4px solid #EBE6E2;
  box-sizing: border-box;
}

.item-image-thumbnails .item-image-frame.active {
  border: 4px solid #fff;
  box-shadow: 15px 10px 20px #fff;
}

.item-image-thumbnails img {
  width: 100%;
}

.item-intro > p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.add-to-cart {
  width: 100%;
  background-color: #D8C16F;
  border: 1px solid #D8C16F;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 20px;
}

.item-price {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.item-spec {
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
  margin-bottom: 20px;
  padding: 10px 0;
  letter-spacing: 1px;
}

.item-spec span {
  margin-right: 3%;
  line-height: 25px;
}

.item-notice {
  background-color: #eee;
  line-height: 25px;
  letter-spacing: 1px;
  padding: 20px 15px;
  margin-bottom: 20px;
}

.back-to-category {
  width: 100%;
  background-color: #EBE6E2;
  border: 1px solid #4D4D4D;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.add-to-cart:hover,
.back-to-category:hover {
  border: 1px solid #fff;
  background-color: #4D4D4D;
  color: white;
}

.view-history.row {
  background-color: #eee;
  padding-top: 5%;
  margin-bottom: 5%;
}

.view-history-title {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 50px;
  text-align: left;
  margin: auto 10px;
}

.view-history-item > .row {
  width: 100%;
  height: 100%;
}

.history-image-frame {
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  margin: 5px 5px;
}

.history-image-frame img {
  width: 100%;
}

@media (max-width: 767px) {
  .main-item-image {
    width: 100%;
  }

  .item-image-thumbnails {
    margin: 0;
  }

  .item-image-thumbnails > .row {
    width: 100%;
    align-items: center;
  }

  .item-intro {
    order: 1;
  }

  .view-history-title {
    margin-bottom: 20px;
  }

  .back-to-category {
    order: 2;
  }
}
/* contact us */
.contact-us .wrap-contact {
  width: 70%;
  margin: 1.5rem auto;
  padding: 2rem;
  background: #4D4D4D;
  background: -webkit-linear-gradient(to right, #EBE6E2, #fff);
  background: linear-gradient(to right, #EBE6E2, #fff);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 18px rgba(0, 0, 0, 0.22);
}

.contact-us h3 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-us .wrap-input {
  text-align: left;
  font-size: 1rem;
  margin: 20px 0;
}

.contact-us textarea {
  outline: none;
  border: none;
  height: 4rem;
  width: 100%;
  font-family: inherit;
  background-color: #eee;
  padding-top: 10px;
  padding-left: 10px;
}

.contact-us input::-webkit-input-placeholder,
.contact-us textarea::-webkit-input-placeholder {
  color: #adadad;
}

.contact-us label {
  display: block;
}

/*--------- RADIO BUTTONS -----------*/
.contact-us .w-full {
  text-align: left;
  margin: 2rem 0 0 1rem;
}

.contact-us .contact-form-radio {
  display: flex;
  align-items: center;
}

.contact-us .wrap-contact-form-range {
  margin-top: 20px;
}

.contact-us .label-input {
  width: 100%;
  margin: 0;
  padding: 0;
}

.contact-us .label-radio {
  margin-left: 5px;
}

.contact-us .checkbox input {
  margin-right: 5px;
}

/*--------- SUBMIT BUTTON -----------*/
.contact-us button {
  outline: none;
  border: none;
  background: transparent;
  height: 50px;
  width: 100%;
  font-size: 1.1rem;
  font-family: inherit;
  line-height: 1.2;
  background-color: #333;
  color: #fff;
  padding: 0 20px;
  border-radius: 25px;
  transition: all 0.4s;
}

.contact-us button:hover {
  background-color: #00ad5f;
  cursor: pointer;
}

.contact-us button:hover i {
  transform: translateX(10px);
  transition: all 0.4s;
}

.contact-us .fa {
  display: inline-block;
  margin-left: 7px;
  transition: all 0.4s;
}

/*--------- MEDIA QUERIES -----------*/
@media screen and (max-width: 900px) {
  .contact-us .wrap-contact {
    padding: 1rem;
  }
}
@media screen and (max-width: 650px) {
  .contact-us .wrap-contact {
    padding: 0.5rem;
  }

  .contact-us .wrap-input,
.contact-us .label-input {
    font-size: 1rem;
  }

  .contact-us button {
    height: 40px;
  }

  .contact-us textarea {
    height: 3rem;
  }
}
/* contact us end */
/* all products */
.order-by.row {
  justify-content: flex-end;
  align-items: center;
  padding-right: 1.3%;
}