header
    .container 
        a.nav-logo(href="index.html") 
            img(src="public/images/logo.png", alt="回首頁") 
        nav.w-100
            .mobile-nav.row
                #mobile-cart 
                    a(href="shopping-cart.html") 
                        img(src="public/images/icon-bag.png", alt="購物車")
                #mobile-fav
                    a(href="javascript:;") 
                        img(src="public/images/icon-heart.png", alt="最愛")
                .hamburger
                    span.line
                    span.line
                    span.line
            ul#burger-menu.row
                li 
                    a(class="nav-icon" href="javascript:;") 
                        img(src="public/images/icon-bell.png", alt="通知")
                li 
                    a(class="nav-icon" href="signIn.html") 
                        img(src="public/images/icon-visitor.png", alt="註冊/登入")
                li 
                    a(href="brands.html") 
                        img(src="public/images/icon-brand.png", alt="品牌介紹")
                li 
                    a#burger-find-product(href="javascript:;")
                        img(src="public/images/icon_search.png", alt="商品搜尋")
                    #burger-submenu
                        .row
                            .col-4.col-md-4.col-lg-4
                                dl  
                                    dt 飾品分類 
                                    dd 
                    #burger-submenu
                        .row
                            .col-4.col-md-4.col-lg-4
                                dl  
                                    dt 飾品分類 
                                    dd 
                                        a.light-line(href="all-products.html") 所有飾品
                                    dd 
                                        a.light-line(href="all-products.html") 項鍊 
                                    dd 
                                        a.light-line(href="all-products.html") 耳夾
                                    dd 
                                        a.light-line(href="all-products.html") 耳針
                                    dd 
                                        a.light-line(href="all-products.html") 胸針
                                    dd 
                                        a.light-line(href="all-products.html") 戒指
                                    dd 
                                        a.light-line(href="all-products.html") 手環
                                    dd 
                                        a.light-line(href="all-products.html") 吊墜
                                    dd 
                                        a.light-line(href="all-products.html") 有主之物
                            .col-8.col-md-8.col-lg-8
                                .trend 
                                    p 最近搜尋
                                    .row 
                                        .keyword 
                                            a(href="javascript:;") Monet
                                        .keyword 
                                            a(href="javascript:;") 石榴石
                                        .keyword 
                                            a(href="javascript:;") 耳夾 不痛
                                        .keyword 
                                            a(href="javascript:;") 紋章
                                    p 熱門搜尋 
                                    .row 
                                        .keyword 
                                            a(href="javascript:;") 珍珠
                                        .keyword 
                                            a(href="javascript:;") 羽毛
                                        .keyword 
                                            a(href="javascript:;") ArtDeco
                                        .keyword 
                                            a(href="javascript:;") 1950
                                        .keyword 
                                            a(href="javascript:;") 德國製
                                        .keyword 
                                            a(href="javascript:;") 相片墜
                                        .keyword 
                                            a(href="javascript:;") 維多利亞時期
                                        .keyword 
                                            a(href="javascript:;") 滴金玻璃
                                        .keyword 
                                            a(href="javascript:;") 緞帶
                                        .keyword 
                                            a(href="javascript:;") 萊茵石
                                        .keyword 
                                            a(href="javascript:;") 大馬士革
                                        .keyword 
                                            a(href="javascript:;") 翻轉
                                    .search-box
                                        input#search-input(type="text" placeholder="請輸入商品名稱或關鍵字" name="search")
                                        button(type="submit")
                                            i(class="fa-solid fa-magnifying-glass")  查詢
            ul#pc-nav.row.text-center 
                li
                    a#find-product(href="javascript:;") 
                        h3 找 尋 飾 品
                    #submenu
                        .row
                            .col-4.col-md-4.col-lg-4
                                dl  
                                    dt 飾品分類 
                                    dd 
                                        a(href="all-products.html") 所有飾品
                                    dd 
                                        a(href="all-products.html") 項鍊 
                                    dd 
                                        a(href="all-products.html") 耳夾
                                    dd 
                                        a(href="all-products.html") 耳針
                                    dd 
                                        a(href="all-products.html") 胸針
                                    dd 
                                        a(href="all-products.html") 戒指
                                    dd 
                                        a(href="all-products.html") 手環
                                    dd 
                                        a(href="all-products.html") 吊墜
                                    dd 
                                        a(href="all-products.html") 有主之物
                            .col-8.col-md-8.col-lg-8
                                .trend 
                                    p 最近搜尋
                                    .row 
                                        .keyword 
                                            a(href="javascript:;") Monet
                                        .keyword 
                                            a(href="javascript:;") 石榴石
                                        .keyword 
                                            a(href="javascript:;") 耳夾 不痛
                                        .keyword 
                                            a(href="javascript:;") 紋章
                                    p 熱門搜尋 
                                    .row 
                                        .keyword 
                                            a(href="javascript:;") 珍珠
                                        .keyword 
                                            a(href="javascript:;") 羽毛
                                        .keyword 
                                            a(href="javascript:;") ArtDeco
                                        .keyword 
                                            a(href="javascript:;") 1950
                                        .keyword 
                                            a(href="javascript:;") 德國製
                                        .keyword 
                                            a(href="javascript:;") 相片墜
                                        .keyword 
                                            a(href="javascript:;") 維多利亞時期
                                        .keyword 
                                            a(href="javascript:;") 滴金玻璃
                                        .keyword 
                                            a(href="javascript:;") 緞帶
                                        .keyword 
                                            a(href="javascript:;") 萊茵石
                                        .keyword 
                                            a(href="javascript:;") 大馬士革
                                        .keyword 
                                            a(href="javascript:;") 翻轉
                                    .search-box
                                        input(type="text" placeholder="請輸入商品名稱或關鍵字..." name="search")
                                        button(type="submit")
                                            i(class="fa-solid fa-magnifying-glass")  查詢
                li        
                    a(href="brands.html") 
                        h3 品 牌 介 紹
                li
                    a.nav-icon(href="javascript:;") 
                        img(src="public/images/icon-bell.png", alt="通知")
                    a.nav-icon(href="signIn.html") 
                        img(src="public/images/icon-visitor.png", alt="註冊/登入")
                    a.nav-icon(href="javascript:;") 
                        img(src="public/images/icon-heart.png", alt="最愛")
                    a.nav-icon(href="shopping-cart.html") 
                        img(src="public/images/icon-bag.png", alt="購物車")