html(lang='zh-Hant')
    // Made by Jamy Lin 2022-06-24
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Little Things | 小飾古董飾品
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.css')
        link(rel='stylesheet' href='public/css/style.css')
        link(rel="icon" type="image/x-icon" sizes="82x82" href="public/images/favicon.png")
    body
        header
            .container 
                a.nav-logo(href="/index.html") 
                    img(src="public/images/logo.png", alt="回首頁") 
                nav.w-100
                    .mobile-nav.row
                        #mobile-cart 
                            a(href="shopping-cart.html") 
                                img(src="public/images/icon-bag.png", alt="購物車")
                        #mobile-fav
                            a(href="javascript:;") 
                                img(src="public/images/icon-heart.png", alt="最愛")
                        .hamburger
                            span.line
                            span.line
                            span.line
                    ul#burger-menu.row
                        li 
                            a(class="nav-icon" href="javascript:;") 
                                img(src="public/images/icon-bell.png", alt="通知")
                        li 
                            a(class="nav-icon" href="signIn.html") 
                                img(src="public/images/icon-visitor.png", alt="註冊/登入")
                        li 
                            a(href="brands.html") 
                                img(src="public/images/icon-brand.png", alt="品牌介紹")
                        li 
                            a#burger-find-product(href="javascript:;")
                                img(src="public/images/icon_search.png", alt="商品搜尋")
                            #burger-submenu
                                .row
                                    .col-4.col-md-4.col-lg-4
                                        dl  
                                            dt 飾品分類 
                                            dd 
                            #burger-submenu
                                .row
                                    .col-4.col-md-4.col-lg-4
                                        dl  
                                            dt 飾品分類 
                                            dd 
                                                a.light-line(href="all-products.html") 所有飾品
                                            dd 
                                                a.light-line(href="all-products.html") 項鍊 
                                            dd 
                                                a.light-line(href="all-products.html") 耳夾
                                            dd 
                                                a.light-line(href="all-products.html") 耳針
                                            dd 
                                                a.light-line(href="all-products.html") 胸針
                                            dd 
                                                a.light-line(href="all-products.html") 戒指
                                            dd 
                                                a.light-line(href="all-products.html") 手環
                                            dd 
                                                a.light-line(href="all-products.html") 吊墜
                                            dd 
                                                a.light-line(href="all-products.html") 有主之物
                                    .col-8.col-md-8.col-lg-8
                                        .trend 
                                            p 最近搜尋
                                            .row 
                                                .keyword 
                                                    a(href="javascript:;") Monet
                                                .keyword 
                                                    a(href="javascript:;") 石榴石
                                                .keyword 
                                                    a(href="javascript:;") 耳夾 不痛
                                                .keyword 
                                                    a(href="javascript:;") 紋章
                                            p 熱門搜尋 
                                            .row 
                                                .keyword 
                                                    a(href="javascript:;") 珍珠
                                                .keyword 
                                                    a(href="javascript:;") 羽毛
                                                .keyword 
                                                    a(href="javascript:;") ArtDeco
                                                .keyword 
                                                    a(href="javascript:;") 1950
                                                .keyword 
                                                    a(href="javascript:;") 德國製
                                                .keyword 
                                                    a(href="javascript:;") 相片墜
                                                .keyword 
                                                    a(href="javascript:;") 維多利亞時期
                                                .keyword 
                                                    a(href="javascript:;") 滴金玻璃
                                                .keyword 
                                                    a(href="javascript:;") 緞帶
                                                .keyword 
                                                    a(href="javascript:;") 萊茵石
                                                .keyword 
                                                    a(href="javascript:;") 大馬士革
                                                .keyword 
                                                    a(href="javascript:;") 翻轉
                                            .search-box
                                                input#search-input(type="text" placeholder="請輸入商品名稱或關鍵字" name="search")
                                                button(type="submit")
                                                    i(class="fa-solid fa-magnifying-glass")  查詢
                    ul#pc-nav.row.text-center 
                        li
                            a#find-product(href="javascript:;") 
                                h3 找 尋 飾 品
                            #submenu
                                .row
                                    .col-4.col-md-4.col-lg-4
                                        dl  
                                            dt 飾品分類 
                                            dd 
                                                a(href="all-products.html") 所有飾品
                                            dd 
                                                a(href="all-products.html") 項鍊 
                                            dd 
                                                a(href="all-products.html") 耳夾
                                            dd 
                                                a(href="all-products.html") 耳針
                                            dd 
                                                a(href="all-products.html") 胸針
                                            dd 
                                                a(href="all-products.html") 戒指
                                            dd 
                                                a(href="all-products.html") 手環
                                            dd 
                                                a(href="all-products.html") 吊墜
                                            dd 
                                                a(href="all-products.html") 有主之物
                                    .col-8.col-md-8.col-lg-8
                                        .trend 
                                            p 最近搜尋
                                            .row 
                                                .keyword 
                                                    a(href="javascript:;") Monet
                                                .keyword 
                                                    a(href="javascript:;") 石榴石
                                                .keyword 
                                                    a(href="javascript:;") 耳夾 不痛
                                                .keyword 
                                                    a(href="javascript:;") 紋章
                                            p 熱門搜尋 
                                            .row 
                                                .keyword 
                                                    a(href="javascript:;") 珍珠
                                                .keyword 
                                                    a(href="javascript:;") 羽毛
                                                .keyword 
                                                    a(href="javascript:;") ArtDeco
                                                .keyword 
                                                    a(href="javascript:;") 1950
                                                .keyword 
                                                    a(href="javascript:;") 德國製
                                                .keyword 
                                                    a(href="javascript:;") 相片墜
                                                .keyword 
                                                    a(href="javascript:;") 維多利亞時期
                                                .keyword 
                                                    a(href="javascript:;") 滴金玻璃
                                                .keyword 
                                                    a(href="javascript:;") 緞帶
                                                .keyword 
                                                    a(href="javascript:;") 萊茵石
                                                .keyword 
                                                    a(href="javascript:;") 大馬士革
                                                .keyword 
                                                    a(href="javascript:;") 翻轉
                                            .search-box
                                                input(type="text" placeholder="請輸入商品名稱或關鍵字..." name="search")
                                                button(type="submit")
                                                    i(class="fa-solid fa-magnifying-glass")  查詢
                        li        
                            a(href="brands.html") 
                                h3 品 牌 介 紹
                        li
                            a.nav-icon(href="javascript:;") 
                                img(src="public/images/icon-bell.png", alt="通知")
                            a.nav-icon(href="signIn.html") 
                                img(src="public/images/icon-visitor.png", alt="註冊/登入")
                            a.nav-icon(href="javascript:;") 
                                img(src="public/images/icon-heart.png", alt="最愛")
                            a.nav-icon(href="shopping-cart.html") 
                                img(src="public/images/icon-bag.png", alt="購物車")
        main 
            .product-detail.container 
                .main-title
                    h2 萊茵石鑲邊透黃琺瑯寬緞帶 鍍金胸針
                .row 
                    .main-item-image.col-12.col-md-6.col-lg-6
                        a(href="public/images/products/item1.png" data-lightbox="main-image") 
                            img(src="public/images/products/item1.png", alt="")
                    .item-image-thumbnails.col-12.col-md-6.col-lg-6
                        .row
                            .item-image-frame.col-2.col-md-4.col-lg-4
                                a(href="javascript:;") 
                                    img(src="public/images/products/item1.png", alt="")
                            .item-image-frame.col-2.col-md-4.col-lg-4
                                a(href="javascript:;") 
                                    img(src="public/images/products/item2.png", alt="")
                            .item-image-frame.col-2.col-md-4.col-lg-4
                                a(href="javascript:;") 
                                    img(src="public/images/products/item3.png", alt="")
                            .item-image-frame.col-2.col-md-4.col-lg-4
                                a(href="javascript:;") 
                                    img(src="public/images/products/item4.png", alt="")
                            .item-image-frame.col-2.col-md-4.col-lg-4
                                a(href="javascript:;") 
                                    img(src="public/images/products/item5.png", alt="")
                            .item-image-frame.col-2.col-md-4.col-lg-4
                                a(href="javascript:;") 
                                    img(src="public/images/products/item6.png", alt="")
                            .item-image-frame.col-2.col-md-4.col-lg-4
                                a(href="javascript:;") 
                                    img(src="public/images/products/item7.png", alt="")
                            .item-image-frame.col-2.col-md-4.col-lg-4
                                a(href="javascript:;") 
                                    img(src="public/images/products/item8.png", alt="")
                            .item-image-frame.col-2.col-md-4.col-lg-4
                                a(href="javascript:;") 
                                    img(src="public/images/products/item9.png", alt="")
                .item-desc.row 
                    .item-intro.col-12.col-md-8.col-lg-8
                        P 終於介紹到 Camrose & Kross 的作品了！難得收到這麼美的藏品，通常店長選貨的時候都捨不得下手，感覺會爆預算，可是看到實體真的有點感動，多拍了幾個角度，希望能把我看到的感覺也呈現給你們。
                            br
                            br
                            |關於 Camrose & Kross 公司，首先必須提到，他們是世界上唯一得到賈桂琳·甘迺迪（Jacqueline Kennedy Onassis）前美國第一夫人所佩戴珠寶複製權的公司。
                            br
                            br
                            |1998 年 5 月 5 日在新澤西州註冊的 Camrose & Kross LLC ，旗下所產的首飾有兩個品牌標記，一個是 CAMROSE & KROSS，一個則是 JBK (Jacqueline Bouvier Kennedy)，也就是前美國第一夫人賈桂琳·鮑維爾·甘迺迪的縮寫。
                            br
                            br
                            |這間歷時二十多年的公司除了經營時裝珠寶，另外還有手錶、銀器等品項，在材料上使用 19 世紀中葉產製的藝術玻璃、萊茵石、合金等，Camrose 精良的仿製品，與真品在重量與外觀細節上幾乎一致。
                    .item-info.col-12.col-md-4.col-lg-4
                        .add-to-cart 加入購物車
                        .item-price NT$ 3,680
                        .item-spec
                            .item-brand
                                span 品牌
                                span | JBK
                            .item-material
                                span 材質
                                span | 合金鍍金、冷琺瑯、萊茵石
                            .item-size
                                span 尺寸
                                span | 約 4.3 × 4.9 cm
                            .item-year
                                span 年代
                                span | 1990s
                            .item-made-in
                                span 產地
                                span | 美國
                        .item-notice 保存狀況極佳，背面輕微年代痕跡，贈擦拭布與細纖維雙層收納袋。由於攝影照片有擴大效果，會比實物看起來再大一些，請參照尺寸說明。
                        .back-to-category < 回到分類
            .view-history.row 
                .view-history-title.col-12.col-md-2.col-lg-2 最近看過的飾品
                .view-history-item.col-12.col-md-10.col-lg-10
                    .row
                        .history-image-frame
                            a(href="javascript:;") 
                                img(src="public/images/products/item1.png", alt="")
                        .history-image-frame
                            a(href="javascript:;") 
                                img(src="public/images/products/3.png", alt="")
                        .history-image-frame
                            a(href="javascript:;") 
                                img(src="public/images/products/9.png", alt="")
                        .history-image-frame
                            a(href="javascript:;") 
                                img(src="public/images/products/7.png", alt="")
                        .history-image-frame
                            a(href="javascript:;") 
                                img(src="public/images/products/6.png", alt="")
                        .history-image-frame
                            a(href="javascript:;") 
                                img(src="public/images/products/5.png", alt="")
                        .history-image-frame
                            a(href="javascript:;") 
                                img(src="public/images/products/4.png", alt="")
                        .history-image-frame
                            a(href="javascript:;") 
                                img(src="public/images/products/1.png", alt="")
                        .history-image-frame
                            a(href="javascript:;") 
                                img(src="public/images/products/2.png", alt="")
        footer 
            .container
                .row 
                    .col-12.col-md-3.col-lg-3
                        dl 
                            dt.footer-menu-switch 關於小飾
                            dd 
                                a(href="our-story.html") 我們的故事
                            dd 
                                a(href="vintage-jewelry.html") 古董飾品二三事
                    .col-12.col-md-3.col-lg-3
                        dl 
                            dt.footer-menu-switch 協助
                            dd 
                                a(href="javascript:;") 如何購買
                            dd 
                                a(href="javascript:;") 退貨與退款
                    .col-12.col-md-3.col-lg-3
                        dl 
                            dt.footer-menu-switch 飾品交流
                            dd 
                                a(href="contact-us.html") 聯絡小飾
                            dd 
                                a(href="javascript:;") 常駐市集
                    .footer-icon.col-12.col-md-3.col-lg-3
                        a(href="javascript:;") 
                            img(src="public/images/icon-fb.png", alt="")
                        a(href="javascript:;") 
                            img(src="public/images/icon-instagram.png", alt="")
                        a(href="index.html") 
                            img(src="public/images/favicon.png", alt="")
                .copyright Copyright © Jamy Lin Design 2022 僅作為技術學習之用
        script(
            src="https://code.jquery.com/jquery-3.6.0.min.js" 
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        )
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js")
        script(src="public/js/script.js")