doctype html
html(lang='zh-Hant')
    // Made by Jamy Lin 2022-06-24
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Little Things | 小飾古董飾品
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
        link(rel='stylesheet' href='public/css/style.css')
        link(rel="icon" type="image/x-icon" sizes="82x82" href="public/images/favicon.png")
    body
        .loading-overlay
            .loader
        header
            .container 
                a.nav-logo(href="/index.html") 
                    img(src="public/images/logo.png", alt="回首頁") 
                nav.w-100
                    .mobile-nav.row
                        #mobile-cart 
                            a(href="shopping-cart.html") 
                                img(src="public/images/icon-bag.png", alt="購物車")
                        #mobile-fav
                            a(href="javascript:;") 
                                img(src="public/images/icon-heart.png", alt="最愛")
                        .hamburger
                            span.line
                            span.line
                            span.line
                    ul#burger-menu.row
                        li 
                            a(class="nav-icon" href="javascript:;") 
                                img(src="public/images/icon-bell.png", alt="通知")
                        li 
                            a(class="nav-icon" href="signIn.html") 
                                img(src="public/images/icon-visitor.png", alt="註冊/登入")
                        li 
                            a(href="brands.html") 
                                img(src="public/images/icon-brand.png", alt="品牌介紹")
                        li 
                            a#burger-find-product(href="javascript:;")
                                img(src="public/images/icon_search.png", alt="商品搜尋")
                            #burger-submenu
                                .row
                                    .col-4.col-md-4.col-lg-4
                                        dl  
                                            dt 飾品分類 
                                            dd 
                                                a.light-line(href="javascript:;") 所有飾品
                                            dd 
                                                a.light-line(href="javascript:;") 項鍊 
                                            dd 
                                                a.light-line(href="javascript:;") 耳夾
                                            dd 
                                                a.light-line(href="javascript:;") 耳針
                                            dd 
                                                a.light-line(href="javascript:;") 胸針
                                            dd 
                                                a.light-line(href="javascript:;") 戒指
                                            dd 
                                                a.light-line(href="javascript:;") 手環
                                            dd 
                                                a.light-line(href="javascript:;") 吊墜
                                            dd 
                                                a.light-line(href="javascript:;") 有主之物
                                    .col-8.col-md-8.col-lg-8
                                        .trend 
                                            p 最近搜尋
                                            .row 
                                                .keyword 
                                                    a(href="javascript:;") Monet
                                                .keyword 
                                                    a(href="javascript:;") 石榴石
                                                .keyword 
                                                    a(href="javascript:;") 耳夾 不痛
                                                .keyword 
                                                    a(href="javascript:;") 紋章
                                            p 熱門搜尋 
                                            .row 
                                                .keyword 
                                                    a(href="javascript:;") 珍珠
                                                .keyword 
                                                    a(href="javascript:;") 羽毛
                                                .keyword 
                                                    a(href="javascript:;") ArtDeco
                                                .keyword 
                                                    a(href="javascript:;") 1950
                                                .keyword 
                                                    a(href="javascript:;") 德國製
                                                .keyword 
                                                    a(href="javascript:;") 相片墜
                                                .keyword 
                                                    a(href="javascript:;") 維多利亞時期
                                                .keyword 
                                                    a(href="javascript:;") 滴金玻璃
                                                .keyword 
                                                    a(href="javascript:;") 緞帶
                                                .keyword 
                                                    a(href="javascript:;") 萊茵石
                                                .keyword 
                                                    a(href="javascript:;") 大馬士革
                                                .keyword 
                                                    a(href="javascript:;") 翻轉
                                            .search-box
                                                input#search-input(type="text" placeholder="請輸入商品名稱或關鍵字" name="search")
                                                button(type="submit")
                                                    i(class="fa-solid fa-magnifying-glass")  查詢
                    ul#pc-nav.row.text-center 
                        li
                            a#find-product(href="javascript:;") 
                                h3 找 尋 飾 品
                            #submenu
                                .row
                                    .col-4.col-md-4.col-lg-4
                                        dl  
                                            dt 飾品分類 
                                            dd 
                                                a(href="javascript:;") 所有飾品
                                            dd 
                                                a(href="javascript:;") 項鍊 
                                            dd 
                                                a(href="javascript:;") 耳夾
                                            dd 
                                                a(href="javascript:;") 耳針
                                            dd 
                                                a(href="javascript:;") 胸針
                                            dd 
                                                a(href="javascript:;") 戒指
                                            dd 
                                                a(href="javascript:;") 手環
                                            dd 
                                                a(href="javascript:;") 吊墜
                                            dd 
                                                a(href="javascript:;") 有主之物
                                    .col-8.col-md-8.col-lg-8
                                        .trend 
                                            p 最近搜尋
                                            .row 
                                                .keyword 
                                                    a(href="javascript:;") Monet
                                                .keyword 
                                                    a(href="javascript:;") 石榴石
                                                .keyword 
                                                    a(href="javascript:;") 耳夾 不痛
                                                .keyword 
                                                    a(href="javascript:;") 紋章
                                            p 熱門搜尋 
                                            .row 
                                                .keyword 
                                                    a(href="javascript:;") 珍珠
                                                .keyword 
                                                    a(href="javascript:;") 羽毛
                                                .keyword 
                                                    a(href="javascript:;") ArtDeco
                                                .keyword 
                                                    a(href="javascript:;") 1950
                                                .keyword 
                                                    a(href="javascript:;") 德國製
                                                .keyword 
                                                    a(href="javascript:;") 相片墜
                                                .keyword 
                                                    a(href="javascript:;") 維多利亞時期
                                                .keyword 
                                                    a(href="javascript:;") 滴金玻璃
                                                .keyword 
                                                    a(href="javascript:;") 緞帶
                                                .keyword 
                                                    a(href="javascript:;") 萊茵石
                                                .keyword 
                                                    a(href="javascript:;") 大馬士革
                                                .keyword 
                                                    a(href="javascript:;") 翻轉
                                            .search-box
                                                input(type="text" placeholder="請輸入商品名稱或關鍵字..." name="search")
                                                button(type="submit")
                                                    i(class="fa-solid fa-magnifying-glass")  查詢
                        li        
                            a(href="brands.html") 
                                h3 品 牌 介 紹
                        li
                            a.nav-icon(href="javascript:;") 
                                img(src="public/images/icon-bell.png", alt="通知")
                            a.nav-icon(href="signIn.html") 
                                img(src="public/images/icon-visitor.png", alt="註冊/登入")
                            a.nav-icon(href="javascript:;") 
                                img(src="public/images/icon-heart.png", alt="最愛")
                            a.nav-icon(href="shopping-cart.html") 
                                img(src="public/images/icon-bag.png", alt="購物車")
        main
            .container
                .shopping-cart.cf
                    .heading.cf
                        h1 我的購物車
                        a.continue(href="javascript:history.back();") 繼續購物
                    form(action='')
                        .cart
                            ul.cartWrap
                                li.items
                                    .infoWrap
                                        .cartSection
                                            img.itemImg(src='public/images/products/1.png' alt='')
                                            p.itemNumber #Q-003757-010
                                            h3 鎏金鑲鑽開扣手環
                                            p
                                            | NT$4,350 x 
                                            input.qty(type='text' placeholder='1')
                                            
                                            p.stockStatus  有庫存
                                        .prodTotal.cartSection
                                            p NT$4,350
                                        .cartSection.removeWrap
                                            a.remove(href="javascript:;") x
                                li.items
                                    .infoWrap
                                        .cartSection
                                            img.itemImg(src='public/images/products/2.png' alt='')
                                            p.itemNumber #Q-003757-011
                                            h3 南美風物項鍊
                                            p
                                            | NT$2,380 x
                                            input.qty(type='text' placeholder='1')
                                            p.stockStatus  有庫存
                                        .prodTotal.cartSection
                                            p NT$2,380
                                        .cartSection.removeWrap
                                            a.remove(href="javascript:;") x
                                li.items
                                    .infoWrap
                                        .cartSection
                                            img.itemImg(src='public/images/products/3.png' alt='')
                                            p.itemNumber #Q-003757-012
                                            h3 黃銅珍珠葡萄串耳針
                                            p
                                            | NT$3,760 x 
                                            input.qty(type='text' placeholder='1')
                                            p.stockStatus.out  已售完
                                        .prodTotal.cartSection
                                            p NT$3,760
                                        .cartSection.removeWrap
                                            a.remove(href="javascript:;") x
                                li.items
                                    .infoWrap
                                        .cartSection.info
                                            img.itemImg(src='public/images/products/5.png' alt='')
                                            p.itemNumber #Q-003757-013
                                            h3 大馬士革黃金萊茵石臂環
                                            p
                                            | NT$7,720 x 
                                            input.qty(type='text' placeholder='1')
                                            p.stockStatus  有庫存
                                        .prodTotal.cartSection
                                            p NT$7,720
                                        .cartSection.removeWrap
                                            a.remove(href="javascript:;") x
                        .special
                            .specialContent 7/30 前滿 3,000 免運!
                        .promoCode
                            label(for='promo') 選擇折價券或輸入折扣碼
                            .row
                                input(type='text' name='promo' placeholder='請輸入折扣碼')
                                a.btn(href="javascript:;")
                    .subtotal.cf
                        ul
                            li.totalRow
                                span.label 商品總金額
                                span.value $45,600
                            li.totalRow
                                span.label 運費
                                span.value $60
                            li.totalRow
                                span.label 運費折抵
                                span.value -$60
                            li.totalRow
                                span.label 折價券折扣
                                span.value -$0
                            li.totalRow.final
                                span.label 總付款金額
                                span.value $45,600
                            li.totalRow
                                a.btn.continue(href="javascript:;") 結帳去
        footer 
            .container
                .row 
                    .col-12.col-md-3.col-lg-3
                        dl 
                            dt.footer-menu-switch 關於小飾
                            dd 
                                a(href="our-story.html") 我們的故事
                            dd 
                                a(href="vintage-jewelry.html") 古董飾品二三事
                    .col-12.col-md-3.col-lg-3
                        dl 
                            dt.footer-menu-switch 協助
                            dd 
                                a(href="javascript:;") 如何購買
                            dd 
                                a(href="javascript:;") 退貨與退款
                    .col-12.col-md-3.col-lg-3
                        dl 
                            dt.footer-menu-switch 飾品交流
                            dd 
                                a(href="contact-us.html") 聯絡小飾
                            dd 
                                a(href="javascript:;") 常駐市集
                    .footer-icon.col-12.col-md-3.col-lg-3
                        a(href="javascript:;") 
                            img(src="public/images/icon-fb.png", alt="")
                        a(href="javascript:;") 
                            img(src="public/images/icon-instagram.png", alt="")
                        a(href="index.html") 
                            img(src="public/images/favicon.png", alt="")
                .copyright Copyright © Jamy Lin Design 2022 僅作為技術學習之用
        script(
            src="https://code.jquery.com/jquery-3.6.0.min.js" 
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        )
        script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js")
        script(src="public/js/script.js") 