doctype html
html(lang='zh-Hant')
    // Made by Jamy Lin 2022-06-24
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Little Things | 小飾古董飾品
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
        link(rel='stylesheet' href='public/css/style.css')
        link(rel="icon" type="image/x-icon" sizes="82x82" href="public/images/favicon.png")
    body
        .loading-overlay
            .loader
        include header.pug
        main
            .container
                #sign-In-Up
                    .form-container.sign-up-container
                        form#main(action="#") 
                            h1 加入會員
                            .social-container
                                a.social(href="javascript:;") 
                                    i.fab.fa-facebook-f
                                a.social(href="javascript:;")
                                    i.fab.fa-google-plus-g
                                a.social(href="javascript:;")
                                    i.fab.fa-linkedin-in
                            span 或用 email 註冊
                            label(for="email")
                            input(type="email" placeholder="請輸入 Email")
                            input(type="password" placeholder="請輸入 8-15 位密碼")
                            input(type="password" placeholder="請再次輸入密碼")
                            button 加入
                    .form-container.sign-in-container
                        form(action="#")
                            h1 登入會員
                            .social-container
                                a.social(href="javascript:;") 
                                    i.fab.fa-facebook-f
                                a.social(href="javascript:;")
                                    i.fab.fa-google-plus-g
                                a.social(href="javascript:;")
                                    i.fab.fa-linkedin-in
                            span 或用帳號登入
                            input(type="email" placeholder="請輸入 Email")
                            input(type="password" placeholder="請輸入密碼")
                            a(href="javascript:;") 忘記密碼？
                            button 登入
                    .overlay-container
                        .overlay
                            .overlay-panel.overlay-left
                                h1 期待你的加入
                                p 請先加入會員，再使用網站服務
                                button#signIn.ghost 已有帳號
                            .overlay-panel.overlay-right
                                h1 見到你真好
                                p 開始今天的探索吧
                                button#signUp.ghost 還不是會員
        include footer.pug